/* Top Nav bar */

nav 
{
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 5);
    border-radius: 15px;
}

.nav-dropdown 
{
    position: relative;
    display: inline-block;
    margin-right: 15px;
}

/* End of top nav bar */

/* ------------------------------------------------- */

/* Left sidebar */

.sidebar
{
    overflow-y: auto;
    width: 250px;
    background-color: whitesmoke;
    position: fixed;
    top: 150px;
    left: 11px;
    height: calc(100vh - 150px);
    padding: 20px;

}

.sidebar-profile 
{
    display: flex;
}

.sidebar-profile img, .sidebar-profile-name 
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    font-weight: bold;
}

.sidebar-divider 
{
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.sidebar-menu a
{
    display: block;
    padding: 10px;
    color: #4e4d4d;
    text-decoration: none;
    cursor: pointer;
}

.sidebar-menu a:hover 
{
    background-color: #f1f1f1;
}

/* End of left sidebar */

/* -------------------------------------------- */

/* Right side bar */


.right-sidebar 
{
    overflow-y: auto;
    width: 250px;
    background-color: whitesmoke;
    position: fixed;
    top: 150px;
    right: 11px;
    height: calc(100vh - 150px);
    padding: 20px;
}

.right-sidebar-title 
{
    font-weight: bold;
    margin-bottom: 10px;
}

.right-sidebar-friend 
{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.right-sidebar-friend img
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
    cursor: pointer;
}

.right-sidebar-friend-name 
{
    font-weight: bold;  
    cursor: pointer;  
}

 .right-sidebar-friend-status 
{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    margin-top: 30px;
    margin-left: 40px;
} 

.right-sidebar-divider 
{
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.right-sidebar-birthday 
{
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.right-sidebar-birthday-name
{
    position: absolute;
    margin-left: 60px;
    font-weight: bold;
}

.right-sidebar-birthday img 
{
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.right-sidebar-birthday-tomorrow
{
    font-weight: bold;
    position: absolute;
    margin-left: 60px;
}

.right-sidebar-birthday-after
{
    font-weight: bold;
    position: absolute;
    margin-left: 60px;
}

/* End of right side bar */

/* ------------------------------------------------ */

/* Main Content */

.main-content 
{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 150px;
    padding-left: 270px;
    padding-right: 270px;
}

.post-creation-box 
{
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.post-creation-options 
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.post-textarea {
    border: none;
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    resize: none;
    height: 100px;
}

.post-submit
{
    margin-top: 5px;
    cursor: pointer;
}

.post {
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}


.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post-profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.post-user-name 
{
    font-weight: bold;
    margin-right: auto;
    cursor: pointer;
}

.post-user-name:hover
{
    text-decoration: underline;
}

.post-time {
    font-size: 0.8em;
    color: black;
}

.post-content {
    margin-bottom: 10px;
}

.post-image {
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
}

.post-options {
    display: flex;
    justify-content: space-between;
}

.post-option 
{
    background-color: transparent;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: 0.8em;
    margin-right: 10px;
   
}

.post-option:hover {
    text-decoration: underline;
}

.post-like, .post-comment, .post-share
{
    cursor: pointer;
    border-radius: 10px;
}

@media (max-width:763px) 
{
    .lsidebar, .rsidebar
    {
        display: none;
    }
    .nav-search input {
        width: 100%; 
    }
    
}

/* Different divices */
/* Styles for extra small screens */
@media (max-width: 575.98px) {
    .nav-search input {
        width: 100%; 
    }
    
    .sidebar, .right-sidebar {
        width: 100%; 
        left: 0;
        right: 0;
    }

    .main-content {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (min-width: 991px) 
{
    #left{display: none;}
}

@media (min-width: 768px) 
{ 
    .navbar-expand-lg .order-lg-2 
    { 
        flex-grow: 100%; 
    } 
}
